* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #111111 url("img/fundo-1.png") no-repeat 50% 0% / 100%;
}

nav {
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
}

ul {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
}

ul li {
    margin: 0 15px;
    padding: 6px;
}

ul li:nth-child(n) > a{
    color: #fff;
    text-decoration: none;
    font-size: max(12px, 1vw);
}

h1 {
    color: #EB7910;
    text-indent: 20px;
    font-size: 32px;
}

h2 {
    color: #767676;
    border-bottom: 2px solid #767676;
    padding: 6px 20px;
    font-size: 18px;
    margin-bottom: 15px;
}

.d-flex {
    display: flex;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    padding: 10px 100px;
}

.b-1 {
    border: 1px solid red;
}
.b-2 {
    border: 1px solid blue;
}
.b-3 {
    border: 1px solid green;
}

/* -----------  Formatações diretas  -------------- */

#menu-bar {
    flex-direction: row;
    justify-content: flex-end;
}

#logo img {
    width: 45px;
}

/* -----------  Content Page  -------------- */

.container-intro {
    color: #fff;
    width: 100%;
    padding-top: 100px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.img-content {
    width: 20vw;
}

.img-content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info {
    flex-direction: column;
    justify-content: end;
}

.description {
    width: 62vw;
}

.data-content {
    height: 100%;
    width: max(280px, 20vw);
    border-right: 4px solid #fff;
    font-size: 16px;
}

.data-content span {
    color: #EB7910;
}

.sinopse {
    padding: 0 10px;
    text-align: justify;
    font-size: 16px;
    width: 100%;
}

/* -----------  Section 3  -------------- */

.list-options {
    overflow-x: scroll;
    width: 100%;
    padding: 20px 0;
    flex-direction: row;
}

.list-options::-webkit-scrollbar {
    height: 0;
}

.card-option {
    min-width: 210px;
    border-radius: 2px;
    padding: 0;
    position: relative;
}

.card-option img {
    width: 100%;
    object-fit: cover;
}

.card-option p {
    position: absolute;
    width: 100%;
    text-align: center;
    padding: 18px 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(to bottom, transparent 5%, #000);
}
