<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../PW-anime/css/CssDefaultElements.css">
    <link rel="stylesheet" href="../PW-anime/css/CssCatalog.css">
    <link rel="stylesheet" href="../PW-anime/css/CssForms.css">
    <link rel="stylesheet" href="../PW-anime/css/CssDecorate.css">
    <title>Catalogo</title>
</head>
<body>

    <section id="content_catalogy"></section>

    <header class="welcome">
        <nav>
            <div class="container-menubar pos-abs">
                <div class="menu-bar">
                    <a class="logo" href="../index.html"><img src="../PW-anime/img/icons/favicon.ico" alt="Icone favorito"></a>
                    <ul class="list-menu g-medio" data-type="float">
                        <li><a href="../index.html">Home</a></li>
                        <li><a href="comunidade.html">Comunidade</a></li>
                        <li class="dropmenu">
                            <div class="perfil-default">
                                <img src="../PW-anime/img/img_teste.jfif" alt="">
                            </div>
                            <div>
                                <ul class="container-drop-menu">
                                    <li><a href="mangas.html"><div class="item-menu">Mangás</div></a></li>
                                    <li><a href="loja.html"><div class="item-menu">Loja</div></a></li>
                                    <li><a href="perfil.html"><div class="item-menu">Perfil</div></a></li>
                                    <li><a href="cadastro.html"><div class="item-menu">Cadastrar</div></a></li>
                                    <li><a href="login.html"><div class="item-menu">Entrar</div></a></li>
                                    <li><a href="#"><div class="item-menu">Logout</div></a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                    <div class="icon-menubar">
                        <img src="../PW-anime/img/icons/icon_menu-burger.png" alt="">
                    </div>
                </div>
                <ul class="list-menu menubar-collapse" data-type="down">
                    <li><a href="../index.html" class="item-menu">Home</a></li>
                    <li><a href="comunidade.html" class="item-menu">Comunidade</a></li>
                    <li><a href="mangas.html"><div class="item-menu">Mangás</div></a></li>
                    <li><a href="loja.html"><div class="item-menu">Loja</div></a></li>
                    <li><a href="perfil.html"><div class="item-menu">Perfil</div></a></li>
                    <li><a href="cadastro.html"><div class="item-menu">Cadastrar</div></a></li>
                    <li><a href="login.html"><div class="item-menu">Entrar</div></a></li>
                    <li><a href="#"><div class="item-menu">Logout</div></a></li>
                </ul>
            </div>
        </nav>
    </header>

    <section class="container" data-type="column">

        <div class="container p-top" data-type="top-catalogy">
            <div class="container g-medio">
                <div class="title" data-type="catalogy-2">Categoria:</div>
                <div class="title" data-type="catalogy">Tudo</div>
            </div>
            <form class="form-group" action="">
                <div class="field-search d-flex">
                    <button class="btn-search" type="submit"></button>
                    <input class="field" data-type="busca" type="text" name="search" id="search" placeholder="Buscar">
                </div>
                <div class="container-selection d-flex">
                    <div class="d-flex">
                        <div class="title" data-type="selected">Tudo</div>
                        <img class="icon" data-type="icon_catalogy" src="../PW-anime/img/icons/arrow-down.png" alt="arrow-down.png">
                    </div>
                    <ul class="options">
                        <li><div class="option">Tudo</div></li>
                        <li><div class="option">Ação</div></li>
                        <li><div class="option">Aventura</div></li>
                        <li><div class="option">Drama</div></li>
                        <li><div class="option">Comédia</div></li>
                        <li><div class="option">Sci-fi</div></li>
                        <li><div class="option">Shoune</div></li>
                        <li><div class="option">Slif-of-life</div></li>
                    </ul>
                </div>
            </form>
        </div>
    
        <section class="container">
            <ul class="container g-alto" data-type="content-catalogy">
                <li>
                    <div class="cards d-flex f-column" data-type="anime">
                        <a href= "content.html" >
                            <div class="container-img">
                                <img src="../PW-anime/img/capas_cards/img_SBD.jpg" alt="">
                            </div>
                            <div class="container-info-card d-flex f-column">
                                <div class="title-card">Sono Bisque Doll wa Koi o Suru</div>
                                <div class="detail-card">temporada</div>
                            </div>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="cards d-flex f-column" data-type="anime">
                        <a href= "content.html" >
                            <div class="container-img">
                                <img src="../PW-anime/img/capas_cards/img_An.jpg" alt="">
                            </div>
                            <div class="container-info-card d-flex f-column">
                                <div class="title-card">Another</div>
                                <div class="detail-card">temporada</div>
                            </div>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="cards d-flex f-column" data-type="anime">
                        <a href= "content.html" >
                            <div class="container-img">
                                <img src="../PW-anime/img/capas_cards/img_GOH.jpg" alt="">
                            </div>
                            <div class="container-info-card d-flex f-column">
                                <div class="title-card">God of High School</div>
                                <div class="detail-card">temporada</div>
                            </div>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="cards d-flex f-column" data-type="anime">
                        <a href= "content.html" >
                            <div class="container-img">
                                <img src="../PW-anime/img/capas_cards/img_AoT.jpg" alt="">
                            </div>
                            <div class="container-info-card d-flex f-column">
                                <div class="title-card">Shingeki no Kyojin</div>
                                <div class="detail-card">temporada</div>
                            </div>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="cards d-flex f-column" data-type="anime">
                        <a href= "content.html" >
                            <div class="container-img">
                                <img src="../PW-anime/img/capas_cards/img_SBD.jpg" alt="">
                            </div>
                            <div class="container-info-card d-flex f-column">
                                <div class="title-card">Sono Bisque Doll wa Koi o Suru</div>
                                <div class="detail-card">temporada</div>
                            </div>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="cards d-flex f-column" data-type="anime">
                        <a href= "content.html" >
                            <div class="container-img">
                                <img src="../PW-anime/img/capas_cards/img_An.jpg" alt="">
                            </div>
                            <div class="container-info-card d-flex f-column">
                                <div class="title-card">Another</div>
                                <div class="detail-card">temporada</div>
                            </div>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="cards d-flex f-column" data-type="anime">
                        <a href= "content.html" >
                            <div class="container-img">
                                <img src="../PW-anime/img/capas_cards/img_GOH.jpg" alt="">
                            </div>
                            <div class="container-info-card d-flex f-column">
                                <div class="title-card">God of High School</div>
                                <div class="detail-card">temporada</div>
                            </div>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="cards d-flex f-column" data-type="anime">
                        <a href= "content.html" >
                            <div class="container-img">
                                <img src="../PW-anime/img/capas_cards/img_AoT.jpg" alt="">
                            </div>
                            <div class="container-info-card d-flex f-column">
                                <div class="title-card">Shingeki no Kyojin</div>
                                <div class="detail-card">temporada</div>
                            </div>
                        </a>
                    </div>
                </li>
            </ul>
        </section>
    
        <div class="gp-icons d-flex jus-center" data-type="align">
            <img class="icon" src="../PW-anime/img/icons/arrow-left.png" alt="arrow-left.png">
            <img class="icon" src="../PW-anime/img/icons/arrow-rigth.png" alt="arrow-rigth.png">
        </div>
    
    
    </section>
    
    <script src="../PW-anime/js/MyScriptWeb.js"></script>

</body>
<footer class="d-flex config-margin">
    <div class="itens_footer"> &copy;Desenvolvedor: Isaac Alencar Viana</div>
    <div class="itens_footer">outro item aqui</div>
</footer>
</html>
