<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../PW-anime/css/CssDefaultElements.css">
    <link rel="stylesheet" href="../PW-anime/css/CssDecorate.css">
    <link rel="stylesheet" href="../PW-anime/css/CssComunidade.css">
    <title>Comunidade</title>
</head>
<body>
    
    <section id="content_comunidade"></section>

    <header class="welcome"> <!--Seçao Apresentação-->
        <nav>
            <div class="container-menubar pos-abs">
                <div class="menu-bar">
                    <a class="logo" href="../layouts/index.html"><img src="../PW-anime/img/icons/favicon.ico" alt="Icone favorito"></a>
                    <ul class="list-menu g-medio" data-type="float">
                        <li><a href="../layouts/index.html">Home</a></li>
                        <li><a href="../layouts/comunidade.html">Comunidade</a></li>
                        <li class="dropmenu">
                            <div class="perfil-default">
                                <img src="../PW-anime/img/img_teste.jfif" alt="">
                            </div>
                            <div>
                                <ul class="container-drop-menu">
                                    <li><a href="../layouts/mangas.html"><div class="item-menu">Mangás</div></a></li>
                                    <li><a href="../layouts/loja.html"><div class="item-menu">Loja</div></a></li>
                                    <li><a href="../layouts/perfil.html"><div class="item-menu">Perfil</div></a></li>
                                    <li><a href="../layouts/cadastro.html"><div class="item-menu">Cadastrar</div></a></li>
                                    <li><a href="../layouts/login.html"><div class="item-menu">Entrar</div></a></li>
                                    <li><a href="#"><div class="item-menu">Logout</div></a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                    <div class="icon-menubar">
                        <img src="../PW-anime/img/icons/icon_menu-burger.png" alt="">
                    </div>
                </div>
                <ul class="list-menu menubar-collapse" data-type="down">
                    <li><a href="../layouts/index.html" class="item-menu">Home</a></li>
                    <li><a href="../layouts/comunidade.html" class="item-menu">Comunidade</a></li>
                    <li><a href="../layouts/mangas.html"><div class="item-menu">Mangás</div></a></li>
                    <li><a href="../layouts/loja.html"><div class="item-menu">Loja</div></a></li>
                    <li><a href="../layouts/perfil.html"><div class="item-menu">Perfil</div></a></li>
                    <li><a href="../layouts/cadastro.html"><div class="item-menu">Cadastrar</div></a></li>
                    <li><a href="../layouts/login.html"><div class="item-menu">Entrar</div></a></li>
                    <li><a href="#"><div class="item-menu">Logout</div></a></li>
                </ul>
            </div>
        </nav>
    </header>

    <section class="container p-0" data-type="column"> <!--Seçao Slider-->
        <ul class="slide d-flex">
            <li class="item-lista item-slide-static">
                <div class="img-slide" data-type="info">
                    <img src="../PW-anime/img/teste/img_1.jpg" alt="img_1">
                    <div class="container-float d-flex f-column p-alto g-medio">
                        <h3 class="slide-title">Title</h3>
                        <div class="text text-slide slide-description">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure quasi in consequatur necessitatibus, 
                            ad aut, vel incidunt alias mollitia officia repellendus eligendi dignissimos quisquam sequi libero 
                            consequuntur nemo. Assumenda, eaque.
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure quasi in consequatur necessitatibus, 
                            ad aut, vel incidunt alias mollitia officia repellendus eligendi dignissimos quisquam sequi libero 
                            consequuntur nemo. Assumenda, eaque.
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure quasi in consequatur necessitatibus, 
                            ad aut, vel incidunt alias mollitia officia repellendus eligendi dignissimos quisquam sequi libero 
                            consequuntur nemo. Assumenda, eaque.
                        </div>
                        <div class="slide-detail">data</div>
                        <a href="#"><button class="btn">Ver mais</button></a>
                    </div>
                </div>
            </li>
            <li class="item-lista">
                <div class="img-slide" data-type="info">
                    <img src="../PW-anime/img/teste/img_2.jpg" alt="img_2">
                    <div class="container-float d-flex f-column p-alto g-medio">
                        <h3 class="slide-title">Title</h3>
                        <div class="text text-slide slide-description" data-type="description">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure quasi in consequatur necessitatibus, 
                            ad aut, vel incidunt alias mollitia officia repellendus eligendi dignissimos quisquam sequi libero 
                            consequuntur nemo. Assumenda, eaque.
                        </div>
                        <div class="slide-detail">data</div>
                        <a href="#"><button class="btn">Ver mais</button></a>
                    </div>
                </div>
            </li>
            <li class="item-lista">
                <div class="img-slide" data-type="info">
                    <img src="../PW-anime/img/teste/img_3.jpg" alt="img_3">
                    <div class="container-float d-flex f-column p-alto g-medio">
                        <h3 class="slide-title">Title</h3>
                        <div class="text text-slide slide-description" data-type="description">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure quasi in consequatur necessitatibus, 
                            ad aut, vel incidunt alias mollitia officia repellendus eligendi dignissimos quisquam sequi libero 
                            consequuntur nemo. Assumenda, eaque.
                        </div>
                        <div class="slide-detail">data</div>
                        <a href="#"><button class="btn">Ver mais</button></a>
                    </div>
                </div>
            </li>
            <li class="item-lista">
                <div class="img-slide" data-type="info">
                    <img src="../PW-anime/img/teste/img_4.jpg" alt="img_4">
                    <div class="container-float d-flex f-column p-alto g-medio">
                        <h3 class="slide-title">Title</h3>
                        <div class="text text-slide slide-description" data-type="description">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure quasi in consequatur necessitatibus, 
                            ad aut, vel incidunt alias mollitia officia repellendus eligendi dignissimos quisquam sequi libero 
                            consequuntur nemo. Assumenda, eaque.
                        </div>
                        <div class="slide-detail">data</div>
                        <a href="#"><button class="btn">Ver mais</button></a>
                    </div>
                </div>
            </li>
            <li class="item-lista">
                <div class="img-slide" data-type="info">
                    <img src="../PW-anime/img/teste/img_5.jpg" alt="img_5">
                    <div class="container-float d-flex f-column p-alto g-medio">
                        <h3 class="slide-title">Title</h3>
                        <div class="text text-slide slide-description" data-type="description">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure quasi in consequatur necessitatibus, 
                            ad aut, vel incidunt alias mollitia officia repellendus eligendi dignissimos quisquam sequi libero 
                            consequuntur nemo. Assumenda, eaque.Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure quasi in consequatur necessitatibus, 
                            ad aut, vel incidunt alias mollitia officia repellendus eligendi dignissimos quisquam sequi libero 
                            consequuntur nemo. Assumenda, eaque.
                        </div>
                        <div class="slide-detail">data</div>
                        <a href="#"><button class="btn">Ver mais</button></a>
                    </div>
                </div>
            </li>
        </ul>
        
        <div class="barra-rolar">
            <input type="radio" name="navegator" id="s0" checked>
            <input type="radio" name="navegator" id="s1">
            <input type="radio" name="navegator" id="s2">
            <input type="radio" name="navegator" id="s3">
            <input type="radio" name="navegator" id="s4">
        </div>
    
        <div class="labels d-flex">
            <label class="lb label-active" for="s0"></label>
            <label class="lb" for="s1"></label>
            <label class="lb" for="s2"></label>
            <label class="lb" for="s3"></label>
            <label class="lb" for="s4"></label>
        </div>
    </section>

    <section class="d-flex g-medio">
        <section class="container g-medio" data-type="column" id="sideRight">
            <div class="card-content-community">
                <div class="container" data-type="caption">
                    <div class="title" data-type="section-2">Grupos</div>
                </div>
                <div class="d-flex-align p-medio g-medio c-point" data-type="column">
                    <div class="perfil-default">
                        <img src="../PW-anime/img/img_teste.jfif" alt="">
                    </div>
                    <div style="color: var(--color-4); width: 100%;">Nome_grupo</div>
                    <img class="icon" src="../PW-anime/img/icons/icon-options-three-points.png" alt="">
                </div>
                <div class="d-flex-align p-medio g-medio c-point" data-type="column">
                    <div class="perfil-default">
                        <img src="../PW-anime/img/img_teste.jfif" alt="">
                    </div>
                    <div style="color: var(--color-4); width: 100%;">Nome_grupo</div>
                    <img class="icon" src="../PW-anime/img/icons/icon-options-three-points.png" alt="">
                </div>
                <div class="d-flex-align p-medio g-medio c-point" data-type="column">
                    <div class="perfil-default">
                        <img src="../PW-anime/img/img_teste.jfif" alt="">
                    </div>
                    <div style="color: var(--color-4); width: 100%;">Nome_grupo</div>
                    <img class="icon" src="../PW-anime/img/icons/icon-options-three-points.png" alt="">
                </div>
            </div>

            <div class="card-content-community">
                <div class="container" data-type="caption">
                    <div class="title" data-type="section-2">Amigos</div>
                </div>
                <div class="container p-alto g-alto d-flex f-wrap">
                    <div class="perfil-states">
                        <div class="perfil-default">
                            <img src="../PW-anime/img/img_teste.jfif" alt="">
                        </div>
                        <img class="icon-perfil" src="../PW-anime/img/icons/user-desconnect.png" alt="">
                    </div>
                    <div class="perfil-states">
                        <div class="perfil-default">
                            <img src="../PW-anime/img/img_teste.jfif" alt="">
                        </div>
                        <img class="icon-perfil" src="../PW-anime/img/icons/user-connect.png" alt="">
                    </div>
                    <div class="perfil-states">
                        <div class="perfil-default">
                            <img src="../PW-anime/img/img_teste.jfif" alt="">
                        </div>
                        <img class="icon-perfil" src="../PW-anime/img/icons/user-absent.png" alt="">
                    </div>
                    <div class="perfil-states">
                        <div class="perfil-default">
                            <img src="../PW-anime/img/img_teste.jfif" alt="">
                        </div>
                        <img class="icon-perfil" src="../PW-anime/img/icons/user-absent.png" alt="">
                    </div>
                    <div class="perfil-states">
                        <div class="perfil-default">
                            <img src="../PW-anime/img/img_teste.jfif" alt="">
                        </div>
                        <img class="icon-perfil" src="../PW-anime/img/icons/user-connect.png" alt="">
                    </div>
                    <div class="perfil-states">
                        <div class="perfil-default">
                            <img src="../PW-anime/img/img_teste.jfif" alt="">
                        </div>
                        <img class="icon-perfil" src="../PW-anime/img/icons/user-connect.png" alt="">
                    </div>
                    <div class="perfil-states">
                        <div class="perfil-default">
                            <img src="../PW-anime/img/img_teste.jfif" alt="">
                        </div>
                        <img class="icon-perfil" src="../PW-anime/img/icons/user-connect.png" alt="">
                    </div>
                    <div class="perfil-states">
                        <div class="perfil-default">
                            <img src="../PW-anime/img/img_teste.jfif" alt="">
                        </div>
                        <img class="icon-perfil" src="../PW-anime/img/icons/user-desconnect.png" alt="">
                    </div>
                </div>
            </div>
        </section>
        <section class="container" data-type="column" id="posts">
            <ul class="d-flex f-column g-alto">
                <li>
                    <div class="cards d-flex f-column" data-type="card-post">
                        <div class="container g-medio" data-type="column">
                            <div class="d-flex-align g-medio">
                                <div class="perfil-default">
                                    <img src="../PW-anime/img/img_teste.jfif" alt="">
                                </div>
                                <div class="d-flex f-column">
                                    <div class="title-card">Fulano de tal</div>
                                    <div class="detail-card">12 dias</div>
                                </div>
                            </div>
    
                            <div class="content-post p-baixo">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure quasi in consequatur necessitatibus, 
                                ad aut, vel incidunt alias mollitia officia repellendus eligendi dignissimos quisquam sequi libero 
                                consequuntur nemo. Assumenda, eaque.
                            </div>
                        </div>
                        <div class="container-img">
                            <img src="../PW-anime/img/teste/img_1.jpg" alt="">
                        </div>
                        <div class="gp-icons d-flex b-top">
                            <div class="d-flex-align g-baixo">
                                <img class="icon" src="../PW-anime/img/icons/round-like.png" alt="like">
                                <div>12</div>
                            </div>
                            <div class="d-flex-align g-baixo">
                                <img class="icon" src="../PW-anime/img/icons/comment-note.png" alt="like">
                                <div>12</div>
                            </div>
                            <div class="d-flex-align g-baixo">
                                <img class="icon" src="../PW-anime/img/icons/compartilhar-icon.png" alt="like">
                                <div>12</div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="cards d-flex f-column" data-type="card-post">
                        <div class="container g-medio" data-type="column">
                            <div class="d-flex-align g-medio">
                                <div class="perfil-default">
                                    <img src="../PW-anime/img/img_teste.jfif" alt="">
                                </div>
                                <div class="d-flex f-column">
                                    <div class="title-card">Fulano de tal</div>
                                    <div class="detail-card">12 dias</div>
                                </div>
                            </div>
    
                            <div class="content-post p-baixo">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure quasi in consequatur necessitatibus, 
                                ad aut, vel incidunt alias mollitia officia repellendus eligendi dignissimos quisquam sequi libero 
                                consequuntur nemo. Assumenda, eaque.
                            </div>
                        </div>
                        <div class="container-img">
                            <img src="../PW-anime/img/teste/img-post-1.jpg" alt="">
                        </div>
                        <div class="gp-icons d-flex b-top">
                            <div class="d-flex-align g-baixo">
                                <img class="icon" src="../PW-anime/img/icons/round-like.png" alt="like">
                                <div>12</div>
                            </div>
                            <div class="d-flex-align g-baixo">
                                <img class="icon" src="../PW-anime/img/icons/comment-note.png" alt="like">
                                <div>12</div>
                            </div>
                            <div class="d-flex-align g-baixo">
                                <img class="icon" src="../PW-anime/img/icons/compartilhar-icon.png" alt="like">
                                <div>12</div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="cards d-flex f-column" data-type="card-post">
                        <div class="container g-medio" data-type="column">
                            <div class="d-flex-align g-medio">
                                <div class="perfil-default">
                                    <img src="../PW-anime/img/img_teste.jfif" alt="">
                                </div>
                                <div class="d-flex f-column">
                                    <div class="title-card">Fulano de tal</div>
                                    <div class="detail-card">12 dias</div>
                                </div>
                            </div>
    
                            <div class="content-post p-baixo">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure quasi in consequatur necessitatibus, 
                                ad aut, vel incidunt alias mollitia officia repellendus eligendi dignissimos quisquam sequi libero 
                                consequuntur nemo. Assumenda, eaque.
                            </div>
                        </div>
                        <div class="gp-icons d-flex b-top">
                            <div class="d-flex-align g-baixo">
                                <img class="icon" src="../PW-anime/img/icons/round-like.png" alt="like">
                                <div>12</div>
                            </div>
                            <div class="d-flex-align g-baixo">
                                <img class="icon" src="../PW-anime/img/icons/comment-note.png" alt="like">
                                <div>12</div>
                            </div>
                            <div class="d-flex-align g-baixo">
                                <img class="icon" src="../PW-anime/img/icons/compartilhar-icon.png" alt="like">
                                <div>12</div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </section>
        <section class="container" data-type="column" id="sideLeft">
            <div class="card-content-community">
                <div class="container" data-type="caption">
                    <div class="title" data-type="section-2">Eventos Semanais</div>
                </div>
                <ul class="d-flex f-column p-medio g-medio">
                    <li>
                        <a href="../layouts/forum.html">
                            <div class="card-events d-flex g-medio">
                                <div class="container-img-events d-flex-align">
                                    <img src="../PW-anime/img/teste/img_principal_info.png" alt="">
                                </div>
                                <div class="d-flex f-column g-baixo">
                                    <div>title</div>
                                    <div>01/02/2018</div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="card-events d-flex g-medio">
                                <div class="container-img-events d-flex-align">
                                    <img src="../PW-anime/img/teste/img_principal_info.png" alt="">
                                </div>
                                <div class="d-flex f-column g-baixo">
                                    <div>title</div>
                                    <div>01/02/2018</div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="card-events d-flex g-medio">
                                <div class="container-img-events d-flex-align">
                                    <img src="../PW-anime/img/teste/img_principal_info.png" alt="">
                                </div>
                                <div class="d-flex f-column g-baixo">
                                    <div>title</div>
                                    <div>01/02/2018</div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="card-events d-flex g-medio">
                                <div class="container-img-events d-flex-align">
                                    <img src="../PW-anime/img/teste/img_principal_info.png" alt="">
                                </div>
                                <div class="d-flex f-column g-baixo">
                                    <div>title</div>
                                    <div>01/02/2018</div>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </section>
    </section>

    <script src="../PW-anime/js/MyScriptWeb.js"></script>
</body>
<footer class="d-flex config-margin">
    <div class="itens_footer"> &copy;Desenvolvedor: Isaac Alencar Viana</div>
    <div class="itens_footer">outro item aqui</div>
</footer>
</html>