<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../PW-anime/css/CssContents.css">
    <link rel="stylesheet" href="../PW-anime/css/CssForms.css">
    <link rel="stylesheet" href="../PW-anime/css/CssDefaultElements.css">
    <link rel="stylesheet" href="../PW-anime/css/CssDecorate.css">
    <title>Content</title>
</head>
<body>

    <section id="content_folder"></section>

    <header class="welcome">
        <nav>
            <div class="container-menubar pos-abs">
                <div class="menu-bar">
                    <a class="logo" href="../index.html"><img src="../PW-anime/img/icons/favicon.ico" alt="Icone favorito"></a>
                    <ul class="list-menu g-medio" data-type="float">
                        <li><a href="../index.html">Home</a></li>
                        <li><a href="comunidade.html">Comunidade</a></li>
                        <li class="dropmenu">
                            <div class="perfil-default">
                                <img src="../PW-anime/img/img_teste.jfif" alt="">
                            </div>
                            <div>
                                <ul class="container-drop-menu">
                                    <li><a href="mangas.html"><div class="item-menu">Mangás</div></a></li>
                                    <li><a href="loja.html"><div class="item-menu">Loja</div></a></li>
                                    <li><a href="perfil.html"><div class="item-menu">Perfil</div></a></li>
                                    <li><a href="cadastro.html"><div class="item-menu">Cadastrar</div></a></li>
                                    <li><a href="login.html"><div class="item-menu">Entrar</div></a></li>
                                    <li><a href="#"><div class="item-menu">Logout</div></a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                    <div class="icon-menubar">
                        <img src="../PW-anime/img/icons/icon_menu-burger.png" alt="">
                    </div>
                </div>
                <ul class="list-menu menubar-collapse" data-type="down">
                    <li><a href="../index.html" class="item-menu">Home</a></li>
                    <li><a href="comunidade.html" class="item-menu">Comunidade</a></li>
                    <li><a href="mangas.html"><div class="item-menu">Mangás</div></a></li>
                    <li><a href="loja.html"><div class="item-menu">Loja</div></a></li>
                    <li><a href="perfil.html"><div class="item-menu">Perfil</div></a></li>
                    <li><a href="cadastro.html"><div class="item-menu">Cadastrar</div></a></li>
                    <li><a href="login.html"><div class="item-menu">Entrar</div></a></li>
                    <li><a href="#"><div class="item-menu">Logout</div></a></li>
                </ul>
            </div>
        </nav>
    </header>

    <section class="container folder-intro p-top">

        <div class="container container-introduction">
            <img class="img-capa" src="../PW-anime/img/capas_cards/img_jjk.jpg" alt="img_jjk.jpg">
            <div class="box-info d-flex">
                <div class="title-anime">Nome_anime</div>
                <div class="container-info d-flex">
                    <div>
                        <ul class="d-flex">
                            <li>Autor: <span>Watase Souichirou</span></li>
                            <li>Editora: <span>ASCII Media Works</span></li>
                            <li>Genero:
                                <span>Ação</span>
                                <span>Aventura</span>
                                <span>Sci-fi</span>
                            </li>
                            <li>Episodios: <span>24 episódios</span></li>
                            <li>Temporadas: <span>2</span></li>
                        </ul>
                    </div>
                    <div class="description-folder"> Contrary to popular belief, Lorem Ipsum is not simply random text. 
                        It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard
                         McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure 
                         Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in 
                         classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 
                         and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC.  
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="session_2">

        <div id="container-videos" class="d-flex">
            <div id="sector_1">
                <div class="container" data-type="caption">
                    <div class="title" data-type="section">Episodios</div>
                </div>
                <div>
                    <ul>
                        <li class="d-flex">
                            <a href="../eps/play.html">A noite ja vem vindo | <span>Ep: 1</span></a>
                            <span class="date-time">01/06/2001</span>
                        </li>
                        <li class="d-flex">
                            <a href="#">A noite ja vem vindo | <span>Ep: 1</span></a>
                            <span class="date-time">01/06/2001</span>
                        </li>
                        <li class="d-flex">
                            <a href="#">A noite ja vem vindo | <span>Ep: 1</span></a>
                            <span class="date-time">01/06/2001</span>
                        </li>
                        <li class="d-flex">
                            <a href="#">A noite ja vem vindo | <span>Ep: 1</span></a>
                            <span class="date-time">01/06/2001</span>
                        </li>
                        <li class="d-flex">
                            <a href="#">A noite ja vem vindo | <span>Ep: 1</span></a>
                            <span class="date-time">01/06/2001</span>
                        </li>
                        <li class="d-flex">
                            <a href="#">A noite ja vem vindo | <span>Ep: 1</span></a>
                            <span class="date-time">01/06/2001</span>
                        </li>
                        <li class="d-flex">
                            <a href="#">A noite ja vem vindo | <span>Ep: 1</span></a>
                            <span class="date-time">01/06/2001</span>
                        </li>
                    </ul>
                </div>
            </div>

            <div id="sector_2">
                <div class="container" data-type="caption">
                    <div class="title" data-type="section">Ovas</div>
                </div>
                <div>
                    <ul>
                        <li class="d-flex">
                            <a href="#">A fada dos dentes | <span>Ova: 1</span></a>
                            <span class="date-time">01/06/2001</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div>
            <div class="container" data-type="caption">
                <div class="title" data-type="section">Obras Semelhantes</div>
            </div>
            <div class="container-semelantes d-flex pos-rel">
                <div class="arrows" data-arrow="prev"><span class="prev"></span></div>
                <ul class="container" data-type="list-content">
                    <li>
                        <div class="item-semelhante pos-rel d-flex">
                            <a href="##"><img src="../PW-anime/img/capas_cards/img_jjk.jpg" alt="img_jjk.jpg"></a>
                            <span>Jujutsu kaisen</span>
                        </div>
                    </li>
                    <li>
                        <div class="item-semelhante pos-rel d-flex">
                            <a href="##"><img src="../PW-anime/img/capas_cards/img_jjk.jpg" alt="img_jjk.jpg"></a>
                            <span>Jujutsu kaisen</span>
                        </div>
                    </li>
                    <li>
                        <div class="item-semelhante pos-rel d-flex">
                            <a href="##"><img src="../PW-anime/img/capas_cards/img_jjk.jpg" alt="img_jjk.jpg"></a>
                            <span>Jujutsu kaisen</span>
                        </div>
                    </li>
                    <li>
                        <div class="item-semelhante pos-rel d-flex">
                            <a href="##"><img src="../PW-anime/img/capas_cards/img_jjk.jpg" alt="img_jjk.jpg"></a>
                            <span>Jujutsu kaisen</span>
                        </div>
                    </li>
                    <li>
                        <div class="item-semelhante pos-rel d-flex">
                            <a href="##"><img src="../Pw-anime/img/capas_cards/img_jjk.jpg" alt="img_jjk.jpg"></a>
                            <span>Jujutsu kaisen</span>
                        </div>
                    </li>
                    <li>
                        <div class="item-semelhante pos-rel d-flex">
                            <a href="##"><img src="../PW-anime/img/capas_cards/img_jjk.jpg" alt="img_jjk.jpg"></a>
                            <span>Jujutsu kaisen</span>
                        </div>
                    </li>
                    <li>
                        <div class="item-semelhante pos-rel d-flex">
                            <a href="##"><img src="../PW-anime/img/capas_cards/img_jjk.jpg" alt="img_jjk.jpg"></a>
                            <span>Jujutsu kaisen</span>
                        </div>
                    </li>
                    <li>
                        <div class="item-semelhante pos-rel d-flex">
                            <a href="##"><img src="../PW-anime/img/capas_cards/img_jjk.jpg" alt="img_jjk.jpg"></a>
                            <span>Jujutsu kaisen</span>
                        </div>
                    </li>
                </ul>
                <div class="arrows"><span class="next"></span></div>
            </div>
        </div>

        <div>
            <div class="container" data-type="caption">
                <div class="title" data-type="section">Comentarios</div>
            </div>

            <form id="container-field-comment" class="d-flex" action="">
                <div class="comment-perfil d-flex"><img src="../Pw-anime/img/capas_cards/img_jjk.jpg" alt=""></div>
                <input type="text" class="field" name="comentario" id="comentario" placeholder="Comentar">
                <button class="btn" type="submit">Enviar</button>
            </form>

            <div id="input-comment">
                <div class="comment d-flex">
                    <div class="comment-header d-flex">
                        <div class="comment-perfil d-flex">
                            <img src="../Pw-anime/img/capas_cards/img_jjk.jpg" alt="">
                        </div>
                        <div>
                            <div class="comment-user">Fulano de tal</div>
                            <div class="date-time">{{ date('d/m/y') }}</div>
                        </div>
                    </div>
                    <div class="comment-text">
                        Lorem Ipsum é simplesmente um texto fictício da indústria tipográfica e de impressão.
                        Lorem Ipsum tem sido o texto fictício padrão da indústria desde os anos 1500, quando um
                        impressor desconhecido pegou uma cozinha de tipos e embaralhou-a para fazer um livro de
                        espécimes de tipos.
                    </div>
                    <div class="gp-icons d-flex">
                        <div class="comment-icon"><img src="../PW-anime/img/icons/like.png" alt="like"></div>
                        <div class="comment-icon"><img src="../PW-anime/img/icons/dislike.png" alt="like"></div>
                        <span>responder</span>
                    </div>
                </div>
                <div class="comment d-flex">
                    <div class="comment-header d-flex">
                        <div class="comment-perfil"></div>
                        <div>
                            <div class="comment-user">Fulano de tal</div>
                            <div class="date-time">{{ date('d/m/y') }}</div>
                        </div>
                    </div>
                    <div class="comment-text">
                        Lorem Ipsum é simplesmente um texto fictício da indústria tipográfica e de impressão.
                        Lorem Ipsum tem sido o texto fictício padrão da indústria desde os anos 1500, quando um
                        impressor desconhecido pegou uma cozinha de tipos e embaralhou-a para fazer um livro de
                        espécimes de tipos.
                    </div>
                    <div class="gp-icons d-flex">
                        <div class="comment-icon"><img src="../PW-anime/img/icons/like.png" alt="like"></div>
                        <div class="comment-icon"><img src="../PW-anime/img/icons/dislike.png" alt="like"></div>
                        <span>responder</span>
                    </div>
                </div>
                <div class="comment d-flex">
                    <div class="comment-header d-flex">
                        <div class="comment-perfil"></div>
                        <div>
                            <div class="comment-user">Fulano de tal</div>
                            <div class="date-time">12/01/2024</div>
                        </div>
                    </div>
                    <div class="comment-text">
                        Lorem Ipsum é simplesmente um texto fictício da indústria tipográfica e de impressão.
                        Lorem Ipsum tem sido o texto fictício padrão da indústria desde os anos 1500, quando um
                        impressor desconhecido pegou uma cozinha de tipos e embaralhou-a para fazer um livro de
                        espécimes de tipos.
                    </div>
                    <div class="gp-icons d-flex">
                        <div class="comment-icon"><img src="../PW-anime/img/icons/like.png" alt="like"></div>
                        <div class="comment-icon"><img src="../PW-anime/img/icons/dislike.png" alt="like"></div>
                        <span>responder</span>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <script src="../PW-anime/js/MyScriptWeb.js"></script>

</body>
<footer class="d-flex config-margin">
    <div class="itens_footer"> &copy;Desenvolvedor: Isaac Alencar Viana</div>
    <div class="itens_footer">outro item aqui</div>
</footer>
</html>
