<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../PW-anime/css/CssDefaultElements.css">
    <link rel="stylesheet" href="../PW-anime/css/CssDecorate.css">
    <link rel="stylesheet" href="../PW-anime/css/CssForum.css">
    <link rel="stylesheet" href="../PW-anime/css/CssForms.css">
    <title>Forum</title>
</head>
<body>
    
    <section id="content_forum"></section>

    <header class="welcome"> <!--Seçao Apresentação-->
        <nav>
            <div class="container-menubar pos-abs">
                <div class="menu-bar">
                    <a class="logo" href="../index.html"><img src="../PW-anime/img/icons/favicon.ico" alt="Icone favorito"></a>
                    <ul class="list-menu g-medio" data-type="float">
                        <li><a href="../index.html">Home</a></li>
                        <li><a href="comunidade.html">Comunidade</a></li>
                        <li class="dropmenu">
                            <div class="perfil-default">
                                <img src="../PW-anime/img/img_teste.jfif" alt="">
                            </div>
                            <div>
                                <ul class="container-drop-menu">
                                    <li><a href="mangas.html"><div class="item-menu">Mangás</div></a></li>
                                    <li><a href="loja.html"><div class="item-menu">Loja</div></a></li>
                                    <li><a href="perfil.html"><div class="item-menu">Perfil</div></a></li>
                                    <li><a href="cadastro.html"><div class="item-menu">Cadastrar</div></a></li>
                                    <li><a href="login.html"><div class="item-menu">Entrar</div></a></li>
                                    <li><a href="#"><div class="item-menu">Logout</div></a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                    <div class="icon-menubar">
                        <img src="../PW-anime/img/icons/icon_menu-burger.png" alt="">
                    </div>
                </div>
                <ul class="list-menu menubar-collapse" data-type="down">
                    <li><a href="../index.html" class="item-menu">Home</a></li>
                    <li><a href="comunidade.html" class="item-menu">Comunidade</a></li>
                    <li><a href="mangas.html"><div class="item-menu">Mangás</div></a></li>
                    <li><a href="loja.html"><div class="item-menu">Loja</div></a></li>
                    <li><a href="perfil.html"><div class="item-menu">Perfil</div></a></li>
                    <li><a href="cadastro.html"><div class="item-menu">Cadastrar</div></a></li>
                    <li><a href="login.html"><div class="item-menu">Entrar</div></a></li>
                    <li><a href="#"><div class="item-menu">Logout</div></a></li>
                </ul>
            </div>
        </nav>
        <div class="img_fundo_intro pos-rel">
            <img class="img-folder" src="../PW-anime/img/folder/img-folder-forum.png" alt="">
            <div class="content-title-folder">
                <div class="title-folder">Forum</div>
                <div class="description-folder">Fique por dentro de todas as noticias que ocorrem no mundo dos animes.</div>
            </div>
        </div>
    </header>

    <section class="container" data-type="container-top">
        <ul class="container g-medio" data-type="list-content-pages">
            <li><a class="link-active" href="../layouts/forum.html">Principais noticias</a></li>
            <li><a class="link-disabled" href="#">Eventos</a></li>
        </ul>
    </section>

    <section id="container-forum-principal" class="d-flex f-column">
        <section class="container container-menu p-0" data-type="column">
            <form class="field-group" data-type="data-form" action="" method="">
                <div class="field-search d-flex p-medio">
                    <button class="btn-search" type="submit"></button>
                    <input class="field" data-type="busca" type="text" name="search" id="search" placeholder="Buscar">
                </div>
            </form>
            <ul class="d-flex f-column g-alto p-alto">
                <li>
                    <div class="cards d-flex" data-type="card-forum">
                        <div class="container-img d-flex">
                            <img src="../PW-anime/img/teste/img_principal_info.png" alt="">
                        </div>
                        <div class="container-info-card d-flex f-column g-medio">
                            <div class="title-card">title</div>
                            <div class="description-card pos-rel">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's 
                                standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to 
                                make a type specimen book.
                            </div>
                            <div class="detail-card">data</div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="cards d-flex" data-type="card-forum">
                        <div class="container-img d-flex">
                            <img src="../PW-anime/img/teste/img_principal_info.png" alt="">
                        </div>
                        <div class="container-info-card d-flex f-column g-medio">
                            <div class="title-card">title</div>
                            <div class="description-card pos-rel">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's 
                                standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to 
                                make a type specimen book.
                            </div>
                            <div class="detail-card">data</div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="cards d-flex" data-type="card-forum">
                        <div class="container-img d-flex">
                            <img src="../PW-anime/img/teste/img_principal_info.png" alt="">
                        </div>
                        <div class="container-info-card d-flex f-column g-medio">
                            <div class="title-card">title</div>
                            <div class="description-card pos-rel">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's 
                                standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to 
                                make a type specimen book.
                            </div>
                            <div class="detail-card">data</div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="cards d-flex" data-type="card-forum">
                        <div class="container-img d-flex">
                            <img src="../PW-anime/img/teste/img_principal_info.png" alt="">
                        </div>
                        <div class="container-info-card d-flex f-column g-medio">
                            <div class="title-card">title</div>
                            <div class="description-card pos-rel">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's 
                                standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to 
                                make a type specimen book.
                            </div>
                            <div class="detail-card">data</div>
                        </div>
                    </div>
                </li>
            </ul>
        </section>
        <section class="container-post d-flex">
            <div class="post-img-aside">
                <img src="../PW-anime/img/teste/img_principal_info.png" alt="">
            </div>
            <div class="container p-alto g-medio" data-type="column">
                <div class="d-flex-align g-medio">
                    <div class="post-detail">publicado por: fulano de tal</div>
                    <div>
                        <img src="" alt="">
                    </div>
                </div>
                <div>
                    <h2>Title_event</h2>
                    <div class="post-detail">data de publicação - 01/01/2001</div>
                </div>
                <div class="post-content">
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                        when an unknown printer took a galley of type and scrambled it to make a type 
                        specimen book.
                    </p> 
    
                    <p>
                        It has survived not only five centuries, but also the leap into electronic 
                        typesetting, remaining essentially unchanged. 
                    </p>
                    <p>
                        It was popularised in the 1960s with the release of Letraset sheets containing 
                        Lorem Ipsum passages, and more recently with desktop publishing software like 
                        Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                    <p>
                        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots 
                        in a piece of classical Latin literature from 45 BC, making it over 2000 years old. 
                        Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked 
                        up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, 
                        and going through the cites of the word in classical literature, discovered the 
                        undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de 
                        Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written 
                        in 45 BC. This book is a treatise on the theory of ethics, very popular during 
                        the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", 
                        comes from a line in section 1.10.32.
                    </p>
                </div>
                <div class="container-bottom-card d-flex-align g-medio p-alto">
                    <div class="d-flex g-baixo">
                        <img class="icon" src="../PW-anime/img/icons/round-like.png" alt="">
                        <div>12</div>
                    </div>
                    <div class="d-flex g-baixo">
                        <img class="icon" src="../PW-anime/img/icons/comment-note.png" alt="">
                        <div>12</div>
                    </div>
                </div>
            </div>
        </section>
    </section>

</body>
</html>
