/* -------------------------------------------------------------------------------------------*/
/*

    PADRÕES

/ --------------------------------------------------------------------------------------------*/

.d-flex {
    display: flex;
}

.d-flex-align {
    display: flex;
    align-items: center;
}

.d-none {
    display: none;
}

.itens_footer {
    margin: 5px;
    padding: 10px 0px 0px 10px;
    border-left: 1px solid #fff;
}

.b-1 {
    border: 1px solid red;
}
.b-2 {
    border: 1px solid blue;
}
.b-3 {
    border: 1px solid green;
}

.pos-abs {
    position: absolute;
}

.pos-rel {
    position: relative;
}

.jus-center {
    justify-content: center;
}

/* -------------------------------------------------------------------------------------------*/
/*

    ESTILIZADOS

/ --------------------------------------------------------------------------------------------*/

.p-top {
    padding: 100px 0 0 0;
}

.pb-60 {
    padding-bottom: 60px;
}

.m-6-12 {
    margin: 6px 12px;
}

.container-top {
    margin-top: -5px;
}

.b-top {
    border-top: 2px solid var(--color-5);
}

.f-row {
    flex-direction: row;
}

.f-column {
    flex-direction: column;
}

.f-wrap {
    flex-wrap: wrap;
}

/* -------------------------------------------------------------------------------------------*/
/*

    GAP

/ --------------------------------------------------------------------------------------------*/

.g-0 {
    gap: 0;
}

.g-15 {
    gap: 15px;
}

.g-baixo {
    gap: 5px;
}

.g-medio {
    gap: 15px;
}

.g-alto {
    gap: 20px;
}

/* -------------------------------------------------------------------------------------------*/
/*

    PADDING

/ --------------------------------------------------------------------------------------------*/

.p-0 {
    padding: 0;
}

.p-5 {
    padding: 5px;
}

.p-18 {
    padding: 18px;
}

.p-baixo {
    padding: 5px;
}

.p-medio {
    padding: 15px;
}

.p-alto {
    padding: 20px;
}

/* -------------------------------------------------------------------------------------------*/
/*

    TOGGLES

/ --------------------------------------------------------------------------------------------*/

.toggle-height {
    height: 0;
}

.toggle-rotation {
    transform: rotate(180deg);
}

.toggle-bg {
    background-color: var(--bg-content);
    border-bottom: 2px solid var(--color-1);
}

.menubar-collapse {
    height: 0;
}

.menubar-extende {
    height: auto;
}

/* -------------------------------------------------------------------------------------------*/
/*

    CURSOR

/ --------------------------------------------------------------------------------------------*/


.c-point {
    cursor: pointer;
}

/* -------------------------------------------------------------------------------------------*/
/*

    ICONES

/ --------------------------------------------------------------------------------------------*/

.icon {
    max-width: 18px;
    height: 18px;
    cursor: pointer;
}

.icon-perfil {
    width: 20px;
    height: width;
    position: absolute;
    bottom: -4px;
    right: -5px;
}

.gp-icons {
    padding: 20px;
    align-items: center;
    gap: 25px;
    color: var(--color-3);
}

.gp-icons-loja {
    padding: 0px 20px;
    align-items: center;
}

/* -------------------------------------------------------------------------------------------*/
/*

                                        FORMATAÇÃO DE RESPONSIVIDADE

/ --------------------------------------------------------------------------------------------*/

@media screen and (max-width: 575px) { /*  ---------------------------------------------------------------------------*/

    

}

@media screen and (min-width: 576px) { /*  ---------------------------------------------------------------------------*/

    

}

@media screen and (min-width: 768px) { /*  ---------------------------------------------------------------------------*/

    
    
}

@media screen and (min-width: 992px) { /*  ---------------------------------------------------------------------------*/

    

}